[Unit]
Description=FUSE filesystem for gitlab groups and projects (%i)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/go/bin/gitlabfs -config %E/gitlabfs/%i.yaml

[Install]
WantedBy=default.target